<form class="add-form" (ngSubmit)="onCreateProyecto()" novalidate #f="ngForm" style="width: 98%; margin-left: 1%;">
    <div class="form-control" style="background: none; border:none; width: 100%; ">
        <label for="nombreProyecto" style="color:white">Nombre del Proyecto</label>
        <input type="text" class="form-control" name="nombreProyecto" id="nombreProyecto" [(ngModel)]="nombreProyecto"
            required placeholder="Añade un numbre a la Experiencia">
        <label for="descripcionProyecto" style="color:white">Descripcion</label>
        <textarea class="form-control" aria-label="With textarea" name="descripcionProyecto" id="descripcionProyecto"
            [(ngModel)]="descripcionProyecto" required placeholder="Aqui va la descripcion del proyecto"></textarea>
        <label for="fechaProyecto" style="color:white">Periodo de Trabajo en el Proyecto</label>
        <input type="text" class="form-control" name="fechaProyecto" id="fechaProyecto" [(ngModel)]="fechaProyecto"
            required placeholder="Añade un periodo de trabajo en este proyecto">
        <label for="linkProyecto" style="color:white">Link Referido</label>
        <input type="text" class="form-control" name="linkProyecto" id="linkProyecto" [(ngModel)]="linkProyecto"
            required placeholder="Añade una direccion para ir a este proyecto o pagina">
    </div>
    <input type="submit" value="Guardar Cambios" class="btn btn-block" style="width: 98%; margin:auto;">
</form>