<header>
  <nav class="navbar navbar-dark bg-dark fixed-top">

    <div class="container-fluid">
      <img
        src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1674868095/Diseño%20sin%20título%20%2817%29.png"
        style="height: 50px;" alt="">

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu de navegacion</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Inicio</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#proyectoss">Proyectos</a></li>
          <li class="nav-item"><a class="nav-link active" [href]="persona.curriculum" target="_blank">Curriculum</a></li>
          <li class="nav-item"><a class="nav-link active" href="https://github.com/Catul0" target="_blank">Github</a></li>
          <li class="nav-item dropdown">
            
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contacto
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" [href]="persona.instagram" target="_blank">Instagram</a></li>
              <li><a class="dropdown-item" [href]="persona.linkedin" target="_blank">linked In</a></li>
              <li><a class="dropdown-item"
                  [href]="persona.email"
                  target="_blank">E-mail</a></li>
            </ul>
          </li>
        </ul>
        <hr>
        <div *ngIf="!isLogged" class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Login
          </button>
          <ul class="dropdown-menu "
            style=" background-color: rgb(56, 54, 54); padding-left: 10px; padding-right: 10px; width: 350px;">
            <app-login></app-login>
          </ul>
        </div>
        <button 
          *ngIf="isLogged"
          class="btn btn-primary" style="background-color: rgb(108,117,125); border-color: rgb(108,117,125);"
          (click)="onLogOut()">
          Salir
        </button>
        <div *ngIf="isLogged">
          <h5 style="margin-top: 70px;">BIENVENIDO!</h5>
        </div>

      </div>
    </div>
  </nav>
</header>