<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
          <img
            src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1674868095/Diseño%20sin%20título%20%2817%29.png"
            style="height: 50px;" alt="">
        <button routerLink="/home" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
              </svg>
              </button>
        </div>
    </nav>
<app-portada></app-portada>
<div class="card" *ngIf="proyecto and isLogged==true">
<form 
    class="add-form"
    style="width: 98%; margin-left: 1%;"
    (ngSubmit)="onUpdateProyecto()" novalidate #f="ngForm"
>
    <h2>Editar Proyecto</h2>
    <div class="form-group">
        <label for="nombreProyecto">Nombre del Proyecto</label>
        <input 
            type="text" 
            class="form-control"
            name="nombreProyecto" 
            id="nombreProyecto" 
            [(ngModel)]="proyecto.nombreProyecto" required
            placeholder="Aqui va el nombre del proyecto"
        >
    </div>
    <div class="form-group">
        <label for="descripcionProyecto">Descripcion</label>
        <textarea class="form-control" aria-label="With textarea" name="descripcionProyecto"
        id="descripcionProyecto" [(ngModel)]="proyecto.descripcionProyecto" required
        placeholder="Aqui va la descripcion del proyecto"></textarea>
    </div>
    <div class="form-group">
        <label for="fechaProyecto">Periodo de trabajo</label>
        <input 
            type="text"
            class="form-control" 
            name="fechaProyecto" 
            id="fechaProyecto"
            [(ngModel)]="proyecto.fechaProyecto" required
            placeholder="Añade un perido en el que se trabajo en el proyecto"
        >
    </div>
    <div class="form-group">
        <label for="linkProyecto">Link Referido</label>
        <input 
            type="text"
            class="form-control" 
            name="linkProyecto" 
            id="linkProyecto"
            [(ngModel)]="proyecto.linkProyecto" required
            placeholder="Aca puedes añadir un link para ir hacia el trabajo o el github del mismo"
        >
    </div>
    <button class="btn btn-block" style="width: 100%; margin-left: 0%;">
        Actualizar
    </button>
</form>
</div>
<div *ngIf="isLogged==false">
    <h5>NO TIENES ACCESO A ESTO</h5>
</div>
<app-footer></app-footer>